@import "./utils/_variables";

.text-center {
  text-align: center;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.flex {
  display: flex;
}
.flex-direction-row {
  flex-direction: row;
}
.flex-direction-column {
  flex-direction: column;
}
.align-item-centering {
  align-items: center;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
