<div class="app-bar">
    <div class="container">
        <ul class="app-bar__nav-items">
            <li class="app-bar__nav-item">
                <a href="#" class="app-bar__nav-link">Home</a>
            </li>
            <li class="app-bar__nav-item">
                <a href="#" class="app-bar__nav-link">About</a>
            </li>
            <li class="app-bar__nav-item">
                <a href="#" class="app-bar__nav-link">Feature</a>
            </li>
            <li class="app-bar__nav-item">
                <a href="#" class="app-bar__nav-link">Screenshots</a>
            </li>
            <li class="app-bar__nav-item dropdown-toggle">
                <a href="#" class="dropdown-button app-bar__nav-link">News <div class="triangle-down"></div></a>
                <ul class="dropdown-content">
                    <li class="dropdown-item"><a>Recent News</a></li>
                    <li class="dropdown-item"><a>News One</a></li>
                    <li class="dropdown-item"><a>Single News</a></li>
                </ul>
            </li>
            <li class="app-bar__nav-item">
                <a href="#" class="app-bar__nav-link">Contact</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="flex-container">
        <div class="content-toggle">
            <div class='round'><i class="fas fa-magic vertical-align-centering"></i> </div>
            <div class="content">
                <h4 class="text-label text-center">Creative Design</h4>
                <p class="text-content text-center">Proactively syndicate open-source e-markets after low-risk
                    high-yield
                    synergy.</p>
            </div>
        </div>
        <div class="content-toggle">
            <div class='round'><i class="fas fa-rocket vertical-align-centering"></i>
            </div>
            <div class="content">
                <h4 class="text-label text-center">Free support</h4>
                <p class="text-content text-center">Proactively syndicate open-source e-markets after low-risk
                    high-yield
                    synergy.</p>
            </div>
        </div>
        <div class="content-toggle">
            <div class='round'><i class="fas fa-gem vertical-align-centering"></i>
            </div>
            <div class="content">
                <h4 class="text-label text-center">Exclusive Design</h4>
                <p class="text-content text-center">Proactively syndicate open-source e-markets after low-risk
                    high-yield
                    synergy.</pclass="text-center">
            </div>
        </div>
    </div>
</div>
<div class="phone">
    <div class="container">
        <div class="image-phone"> <img class="image" src="../images/mobile-2.png" alt=""></div>
        <div class="text-phone">
            <div class="title">
                <h1>Make Business Easy With Us</h1>
                <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incidit labore
                    lorem
                </p>
            </div>
            <div class="content">
                <div class="rocket-text">
                    <i class="fas fa-rocket"></i>
                    <p>Intrinsically aggregate cutting-edge internal or "organic" sources through pandemic.</p>
                </div>
                <div class="rocket-text">
                    <i class="fas fa-rocket"></i>
                    <p>It doesn't matter if you are in an office or on an airplane. You will never lose a second.</p>
                </div>
                <div class="rocket-text">
                    <i class="fas fa-rocket"></i>
                    <p>It doesn't matter if you are in an office or on an airplane. You will never lose a second.</p>
                </div>
                <div class="rocket-text">
                    <i class="fas fa-rocket"></i>
                    <p>Intrinsically aggregate cutting-edge internal or "organic" sources through pandemic.</p>
                </div>

            </div>
        </div>
    </div>
</div>